Repository opencitivibes/opencitivibes: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

.pre-commit-config.yaml:

# Pre-commit hooks for security and code quality
# Install: pip install pre-commit && pre-commit install
# Run on all files: pre-commit run --all-files

repos:
  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-ll', '-ii', '-x', 'tests/']
        files: ^backend/.*\.py$

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            package-lock\.json|
            pnpm-lock\.yaml|
            uv\.lock|
            .*\.md$|
            backend/tests/.*|
            backend/scripts/.*|
            backend/alembic/.*|
            backend/\.env\..*|
            claude-docs/.*|
            instances/.*|
            frontend/src/i18n/.*|
            \.claude/.*|
            pentest/.*|
            \.github/workflows/security-pentest.*\.yml$
          )$

  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/.*\.py$
      - id: ruff-format
        files: ^backend/.*\.py$

  # Type checking (ty is ~17x faster than pyright)
  - repo: local
    hooks:
      - id: ty-check
        name: Type Check (ty)
        entry: bash -c 'cd backend && uvx ty check .'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      - id: lint-imports
        name: Import Layer Check
        entry: bash -c 'cd backend && uv run lint-imports'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # YAML and general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^claude-docs/.*\.md$
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Architecture enforcement - layered architecture checks
  - repo: local
    hooks:
      - id: check-service-db-access
        name: Check Service DB Access
        entry: bash -c 'cd backend && python scripts/check_service_db_access.py'
        language: system
        files: ^backend/services/.*\.py$
        pass_filenames: false

      - id: check-service-http-exceptions
        name: Check Service HTTPException
        entry: bash -c 'cd backend && python scripts/check_service_http_exceptions.py'
        language: system
        files: ^backend/services/.*\.py$
        pass_filenames: false

      - id: check-router-db-access
        name: Check Router DB Access
        entry: bash -c 'cd backend && python scripts/check_router_db_access.py'
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false

      - id: check-layer-imports
        name: Check Layer Imports
        entry: bash -c 'cd backend && python scripts/check_layer_imports.py'
        language: system
        files: ^backend/(routers|services|repositories)/.*\.py$
        pass_filenames: false

  # TypeScript/JavaScript linting and architecture
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: check-frontend-api-usage
        name: Check Frontend API Usage
        entry: bash -c 'cd frontend && node scripts/check-api-usage.js'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: check-frontend-hardcoded-urls
        name: Check Frontend Hardcoded URLs
        entry: bash -c 'cd frontend && node scripts/check-hardcoded-urls.js'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

docs: update deployment docs and remove redundant asset script
  docs/COMMISSIONING.md
  scripts/setup-production-vps.sh
  scripts/setup-staging-vps.sh
Due: none

feat(admin): add database diagnostics widget to admin panel
  backend/models/schemas.py
  backend/routers/admin_router.py
  backend/services/diagnostics_service.py
  frontend/src/app/admin/diagnostics/page.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

updated static site CSS
  docs/html/css/styles.css
  docs/html/js/main.js
Due: eslint

ci: enable parallel backend tests with pytest-xdist
  .github/workflows/deploy.yml
  backend/pyproject.toml
  backend/tests/test_phase1_critical_fixes.py
  backend/uv.lock
Due: ty-check, lint-imports

fix(analytics): use database-agnostic date formatting for PostgreSQL support
  backend/repositories/analytics_repository.py
Due: ty-check, lint-imports, check-layer-imports

ci: re-enable bandit security check with .venv exclusion
  .github/workflows/ci.yml
Due: none

fix(ci): add nosec directive for bandit SQL injection false positive
  backend/services/diagnostics_service.py
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports

ci: remove duplicate test job from deploy workflow
  .github/workflows/deploy.yml
Due: none

feat(devops): add restore.sh script for disaster recovery
  scripts/restore.sh
Due: none

feat(contact): implement contact form with backend email integration
  backend/main.py
  backend/models/schemas.py
  backend/routers/contact_router.py
  backend/services/contact_service.py
  frontend/src/components/pages/ContactPageClient.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

updated static website
  docs/html/css/styles.css
  docs/html/images/screenshot-admin.png
  docs/html/images/screenshot-home.png
  docs/html/images/screenshot-idea.png
  docs/html/images/screenshot-submit.png
  docs/html/index.fr.html
  docs/html/index.html
  docs/html/installation.fr.html
  docs/html/installation.html
  docs/html/js/main.js
Due: eslint

ci: link deploy workflow to CI success
  .github/workflows/deploy.yml
Due: none

feat(admin): add system resources diagnostics panel and VPS maintenance scripts
  backend/models/schemas.py
  backend/routers/admin_router.py
  backend/services/diagnostics_service.py
  docs/COMMISSIONING.md
  frontend/src/app/admin/diagnostics/page.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
  scripts/setup-vps-maintenance.sh
  scripts/vps-disk-alert.sh
  scripts/vps-maintenance.sh
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(contact): use ADMIN_EMAIL env var for contact form notifications
  backend/services/contact_service.py
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports

feat(share): implement social media sharing system (Phases 1-3)
  backend/alembic/versions/d7fj66g53h8e_add_share_events.py
  backend/main.py
  backend/models/schemas.py
  backend/repositories/db_models.py
  backend/repositories/share_repository.py
  backend/routers/share_router.py
  backend/services/share_service.py
  backend/tests/test_share_repository.py
  backend/tests/test_share_router.py
  backend/tests/test_share_service.py
  frontend/src/app/api/og/ideas/[id]/route.tsx
  frontend/src/app/api/og/route.tsx
  frontend/src/components/ShareButtons.tsx
  frontend/src/components/pages/IdeaDetailClient.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/lib/seo/metadata.ts
  frontend/src/lib/seo/og-constants.ts
  frontend/src/lib/share-utils.ts
  frontend/src/types/index.ts
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

feat(ideas): implement edit approved ideas with re-moderation (Phase 1)
  backend/alembic/versions/e8gk77h64i9f_add_edit_tracking.py
  backend/main.py
  backend/models/exceptions.py
  backend/models/schemas.py
  backend/repositories/db_models.py
  backend/repositories/idea_repository.py
  backend/services/idea_service.py
  backend/tests/test_services/test_idea_edit_workflow.py
  notes/NOTES_edit_approved_ideas_phase_1.md
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports

feat(ideas): implement edit approved ideas frontend UI (Phase 2)
  frontend/src/app/admin/page.tsx
  frontend/src/app/ideas/[id]/edit/page.tsx
  frontend/src/components/Badge.tsx
  frontend/src/components/EditApprovedIdeaDialog.tsx
  frontend/src/components/pages/IdeaDetailClient.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/types/index.ts
  notes/NOTES_edit_approved_ideas_phase_2.md
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

feat(ntfy): add SSL setup script and ntfy auth configuration
  docker-compose.yml
  docs/COMMISSIONING.md
  docs/html/installation.fr.html
  docs/html/installation.html
  scripts/setup-production-vps.sh
  scripts/setup-ssl.sh
  scripts/setup-staging-vps.sh
Due: none

docs(deploy): add database migrations section and Cloudflare SSH guidance
  docs/DEPLOYMENT.md
Due: none

fix(migration): add PostgreSQL enum support for PENDING_EDIT status
  backend/alembic/versions/e8gk77h64i9f_add_edit_tracking.py
Due: ty-check, lint-imports

fix(admin): include PENDING_EDIT ideas in moderation queue
  backend/repositories/idea_repository.py
  backend/services/idea_service.py
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports

perf(cache): enable Cloudflare edge caching for public pages
  frontend/next.config.js
  frontend/src/app/page.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(admin): remove duplicate pencil icon in Edited Idea badge
  frontend/src/app/admin/page.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

docs: add Cloudflare optimization guide and update deploy workflow comments
  .github/workflows/deploy.yml
  docs/CLOUDFLARE.md
  docs/DEPLOYMENT.md
Due: none

cleaner kpis
  frontend/src/app/admin/diagnostics/page.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

refactor(admin): reorganize diagnostics page layout
  frontend/src/app/admin/diagnostics/page.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

security(ntfy): block public web UI, allow only API endpoints
  docs/COMMISSIONING.md
  nginx/conf.d/ntfy.conf.template
  scripts/deploy.sh
  scripts/setup-instance.sh
  scripts/setup-production-vps.sh
  scripts/setup-staging-vps.sh
Due: none

docs: add deploy.sh manual deployment guide to DEPLOYMENT.md
  docs/DEPLOYMENT.md
Due: none

feat(frontend): add beta access gate for testing phase
  frontend/.env.example
  frontend/src/app/providers.tsx
  frontend/src/components/BetaAccessGate.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBetaAccess.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

build: add beta access gate build args to Dockerfile and workflow
  .github/workflows/deploy.yml
  frontend/Dockerfile
Due: none

feat(security): add login event tracking database layer (Phase 1)
  backend/alembic/versions/04dd2ce31e3f_add_login_events_table.py
  backend/helpers/request_utils.py
  backend/helpers/time_utils.py
  backend/repositories/db_models.py
  backend/repositories/login_event_repository.py
  backend/tests/test_login_event_repository.py
  backend/tests/test_request_utils.py
  backend/tests/test_time_utils.py
Due: ty-check, lint-imports, check-layer-imports

feat(security): add security audit API endpoints (Phase 2)
  backend/models/schemas.py
  backend/routers/admin_router.py
  backend/routers/auth_router.py
  backend/routers/totp_router.py
  backend/services/security_audit_service.py
  backend/services/totp_service.py
  backend/tests/test_admin_security_endpoints.py
  backend/tests/test_security_audit_login.py
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports

feat(frontend): add security audit widget to admin diagnostics (Phase 3)
  frontend/src/app/admin/diagnostics/page.tsx
  frontend/src/components/admin/SecurityAuditWidget.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
  notes/NOTES_security_audit_phase_3.md
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

chore(security): add nosemgrep suppressions for false positives
  backend/main.py
  frontend/src/components/RichTextDisplay.tsx
  frontend/src/components/seo/Breadcrumbs.tsx
  frontend/src/components/seo/StructuredData.tsx
Due: ty-check, lint-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(security): correct nosemgrep comment placement for scanner
  backend/main.py
  backend/services/diagnostics_service.py
  frontend/src/components/seo/Breadcrumbs.tsx
  frontend/src/components/seo/StructuredData.tsx
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(frontend): improve diagnostics page layout with 2-column grid
  frontend/src/app/admin/diagnostics/page.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(frontend): reorganize diagnostics layout with left/right columns
  frontend/src/app/admin/diagnostics/page.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

feat(security): implement security hardening phase 1
  .github/workflows/deploy.yml
  backend/helpers/ip_utils.py
  backend/main.py
  backend/models/config.py
  backend/models/schemas.py
  backend/routers/admin_router.py
  backend/routers/beta_router.py
  backend/services/security_audit_service.py
  backend/tests/test_beta_router.py
  backend/tests/test_ip_utils.py
  frontend/.env.example
  frontend/Dockerfile
  frontend/src/components/BetaAccessGate.tsx
  frontend/src/hooks/useBetaAccess.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(docker): add BETA_MODE and BETA_PASSWORD to backend env
  docker-compose.yml
Due: none

docs: add Beta Access Gate configuration to COMMISSIONING.md
  docs/COMMISSIONING.md
Due: none
