Repository opencitivibes/opencitivibes: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

ty-check:
  name: Type Check (ty)
  entry: bash -c 'cd backend && uvx ty check .'
  language: system
  pass_filenames: false

lint-imports:
  name: Import Layer Check
  entry: bash -c 'cd backend && uv run lint-imports'
  language: system
  pass_filenames: false

check-service-db-access:
  name: Check Service DB Access
  entry: bash -c 'cd backend && python scripts/check_service_db_access.py'
  language: system
  pass_filenames: false

check-service-http-exceptions:
  name: Check Service HTTPException
  entry: bash -c 'cd backend && python scripts/check_service_http_exceptions.py'
  language: system
  pass_filenames: false

check-router-db-access:
  name: Check Router DB Access
  entry: bash -c 'cd backend && python scripts/check_router_db_access.py'
  language: system
  pass_filenames: false

check-layer-imports:
  name: Check Layer Imports
  entry: bash -c 'cd backend && python scripts/check_layer_imports.py'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && pnpm run lint'
  language: system
  pass_filenames: false

check-frontend-api-usage:
  name: Check Frontend API Usage
  entry: bash -c 'cd frontend && node scripts/check-api-usage.js'
  language: system
  pass_filenames: false

check-frontend-hardcoded-urls:
  name: Check Frontend Hardcoded URLs
  entry: bash -c 'cd frontend && node scripts/check-hardcoded-urls.js'
  language: system
  pass_filenames: false

fix(docker): use local ./ssl directory instead of named volume
  docker-compose.yml
Due: none

fix(docker): add NEXT_PUBLIC_SITE_URL build arg to Dockerfile
  frontend/Dockerfile
Due: none

fix(frontend): equal column widths in diagnostics, underline nav active state
  frontend/src/app/admin/diagnostics/page.tsx
  frontend/src/components/Navbar/DesktopNav.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

feat(csp): whitelist Cloudflare Web Analytics beacon
  docs/CLOUDFLARE.md
  frontend/next.config.js
Due: eslint

patch for avatar uploads
  nginx/conf.d/default.conf.template
  scripts/deploy.sh
  scripts/setup-instance.sh
Due: none

feat(analytics): add Cloudflare Web Analytics script to layout
  frontend/src/app/layout.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(csp): add wildcard for Cloudflare Web Analytics beacon
  frontend/next.config.js
Due: eslint

fix(csp): add base cloudflareinsights.com domain to connect-src
  frontend/next.config.js
Due: eslint

chore(csp): remove unused .ca domain wildcards from connect-src
  frontend/next.config.js
Due: eslint

fix(ui): improve mobile responsiveness on admin diagnostics page
  frontend/src/app/admin/diagnostics/page.tsx
  frontend/src/components/admin/SecurityAuditWidget.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

feat(2fa): add two-factor authentication frontend integration
  backend/.env.example
  backend/services/totp_service.py
  docker-compose.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/admin/category-admins/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/settings/security/page.tsx
  frontend/src/app/signin/page.tsx
  frontend/src/components/Navbar/AdminMenuItems.tsx
  frontend/src/components/TwoFactorDisableDialog.tsx
  frontend/src/components/TwoFactorSetup.tsx
  frontend/src/components/TwoFactorVerify.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/store/authStore.ts
  frontend/src/types/index.ts
  scripts/setup-production-vps.sh
  scripts/setup-staging-vps.sh
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

cleaning
  README.md
  backend/scripts/generate_test_data.py
  notes/NOTES_edit_approved_ideas_phase_1.md
  notes/NOTES_edit_approved_ideas_phase_2.md
  notes/NOTES_security_audit_phase_3.md
Due: ty-check, lint-imports

feat(2fa): add TOTP_ENCRYPTION_KEY to docker-compose and docs
  .env.example
  docker-compose.yml
  docs/COMMISSIONING.md
Due: none

feat(quality-signals): add backend aggregation endpoints for trust distribution
  backend/models/schemas.py
  backend/repositories/analytics_repository.py
  backend/repositories/vote_repository.py
  backend/routers/analytics_router.py
  backend/routers/ideas_router.py
  backend/services/analytics_service.py
  backend/services/quality_signals_service.py
  backend/tests/test_quality_signals.py
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports

feat(quality-signals): add trust score display on idea pages (Phase 1&2)
  frontend/src/components/QualitySignalsPanel.tsx
  frontend/src/components/TrustBadge.tsx
  frontend/src/components/TrustBreakdown.tsx
  frontend/src/components/VotingButtons.tsx
  frontend/src/components/pages/IdeaDetailClient.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

feat(quality-signals): add admin weighted score dashboard (Phase 3)
  frontend/src/app/admin/analytics/weighted-scores/page.tsx
  frontend/src/components/Navbar/AdminMenuItems.tsx
  frontend/src/components/analytics/AnomaliesTable.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

clean admin panel
  frontend/src/app/admin/categories/page.tsx
  frontend/src/components/Navbar/AdminMenuItems.tsx
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

feat(i18n): add complete Spanish translations and missing FR/EN keys
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/es.json
  frontend/src/i18n/locales/fr.json
Due: none

fix(i18n): remove binary language checks that broke Spanish support
  frontend/src/app/admin/category-admins/page.tsx
  frontend/src/app/api/og/ideas/[id]/route.tsx
  frontend/src/components/LanguageBadge.tsx
  frontend/src/components/admin/AdminNotificationsPanel.tsx
  frontend/src/components/pages/ContactPageClient.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/lib/i18n/helpers.ts
  frontend/src/lib/seo/i18n-metadata.ts
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

feat(2fa): add trusted device management for 2FA bypass (Law 25 compliant)
  backend/.env.example
  backend/alembic/versions/f9hl88i75j0g_add_trusted_devices.py
  backend/config/legal/privacy.en.md
  backend/config/legal/privacy.es.md
  backend/config/legal/privacy.fr.md
  backend/helpers/request_utils.py
  backend/main.py
  backend/models/config.py
  backend/models/exceptions.py
  backend/models/schemas.py
  backend/repositories/account_deletion_repository.py
  backend/repositories/data_export_repository.py
  backend/repositories/db_models.py
  backend/repositories/trusted_device_repository.py
  backend/routers/auth_router.py
  backend/routers/totp_router.py
  backend/services/account_deletion_service.py
  backend/services/data_export_service.py
  backend/services/email_service.py
  backend/services/security_audit_service.py
  backend/services/totp_service.py
  backend/services/trusted_device_service.py
  backend/tests/test_routers/test_totp_device_endpoints.py
  backend/tests/test_services/test_totp_device_trust.py
  backend/tests/test_services/test_trusted_device_service.py
  docs/API_DEVICE_TRUST.md
  docs/COMMISSIONING.md
  frontend/src/app/settings/devices/page.tsx
  frontend/src/app/settings/security/page.tsx
  frontend/src/app/signin/page.tsx
  frontend/src/components/RevokeDeviceDialog.tsx
  frontend/src/components/TrustedDeviceCard.tsx
  frontend/src/components/TwoFactorVerify.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/es.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/lib/deviceToken.ts
  frontend/src/store/authStore.ts
  frontend/src/types/index.ts
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

missing stuff
  backend/tasks/__init__.py
  backend/tasks/cleanup_trusted_devices.py
  backend/tests/test_tasks/__init__.py
  backend/tests/test_tasks/test_cleanup_trusted_devices.py
  backend/uv.lock
  frontend/src/components/auth/DeviceTrustConsent.tsx
Due: ty-check, lint-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(deploy): move legal docs to per-instance directory
  instances/montreal/legal/privacy.en.md
  instances/montreal/legal/privacy.es.md
  instances/montreal/legal/privacy.fr.md
  instances/montreal/legal/terms.en.md
  instances/montreal/legal/terms.es.md
  instances/montreal/legal/terms.fr.md
  scripts/deploy.sh
  scripts/setup-production-vps.sh
  scripts/setup-staging-vps.sh
Due: none

fix(migration): correct trusted_devices migration parent
  backend/alembic/versions/f9hl88i75j0g_add_trusted_devices.py
Due: ty-check, lint-imports

fix(2fa): handle timezone-naive datetime in device cookie
  backend/helpers/request_utils.py
Due: ty-check, lint-imports

feat(auth): add password reset phase 1 - backend token infrastructure
  backend/alembic/versions/g0im99j86k1h_add_password_reset_tokens.py
  backend/main.py
  backend/models/config.py
  backend/models/exceptions.py
  backend/repositories/db_models.py
  backend/repositories/password_reset_repository.py
  backend/tests/test_repositories/test_password_reset_repository.py
Due: ty-check, lint-imports, check-layer-imports

feat(auth): add password reset phase 2 - email integration
  backend/services/email_service.py
  backend/templates/emails/password_changed_en.html
  backend/templates/emails/password_changed_en.txt
  backend/templates/emails/password_changed_fr.html
  backend/templates/emails/password_changed_fr.txt
  backend/templates/emails/password_reset_en.html
  backend/templates/emails/password_reset_en.txt
  backend/templates/emails/password_reset_fr.html
  backend/templates/emails/password_reset_fr.txt
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports

feat(auth): add password reset phase 3 - API endpoints and service
  backend/main.py
  backend/models/schemas.py
  backend/repositories/user_repository.py
  backend/routers/password_reset_router.py
  backend/scripts/cleanup_tokens.py
  backend/services/password_reset_service.py
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-router-db-access, check-layer-imports

feat(auth): add password reset phase 4 - frontend UI
  frontend/src/app/signin/page.tsx
  frontend/src/components/ForgotPasswordForm.tsx
  frontend/src/components/NewPasswordForm.tsx
  frontend/src/components/PasswordStrengthIndicator.tsx
  frontend/src/components/VerifyResetCodeForm.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/src/lib/api.ts
  frontend/src/store/authStore.ts
  frontend/src/types/index.ts
Due: eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(auth): use correct function name get_password_hash
  backend/services/password_reset_service.py
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports

fix(auth): disable token_version until migration is added
  backend/repositories/user_repository.py
Due: ty-check, lint-imports, check-layer-imports

security: remove exposed .env.quebec and improve gitignore
  .gitignore
Due: none

security: sanitize docs and scripts, remove hardcoded secrets
  docs/MIGRATION.md
  frontend/next.config.js
  scripts/setup-production-vps.sh
  scripts/setup-staging-vps.sh
Due: eslint

feat(frontend): add Shadcn Phase 3 advanced components
  backend/tests/conftest.py
  backend/tests/test_integration/README.md
  backend/tests/test_integration/__init__.py
  backend/tests/test_integration/test_2fa_integration.py
  backend/tests/test_integration/test_admin_integration.py
  backend/tests/test_integration/test_auth_integration.py
  backend/tests/test_integration/test_categories_integration.py
  backend/tests/test_integration/test_comments_integration.py
  backend/tests/test_integration/test_ideas_integration.py
  backend/tests/test_integration/test_password_reset_integration.py
  backend/tests/test_integration/test_tags_integration.py
  backend/tests/test_integration/test_users_integration.py
  backend/tests/test_integration/test_votes_integration.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/app/submit/page.tsx
  frontend/src/components/CategorySelect.tsx
  frontend/src/components/CollapsibleSection.tsx
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/FAQ.tsx
  frontend/src/components/FormHelp.tsx
  frontend/src/components/Navbar/DesktopNav.tsx
  frontend/src/components/Select.tsx
  frontend/src/components/VotingButtons.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/fr.json
  frontend/tailwind.config.ts
Due: ty-check, lint-imports, eslint, check-frontend-api-usage, check-frontend-hardcoded-urls

fix(api): raise NotFoundException for non-existent category
  backend/services/category_service.py
Due: ty-check, lint-imports, check-service-db-access, check-service-http-exceptions, check-layer-imports

Path conditions:
  ty-check: any of: ^backend/.*\.py$
  lint-imports: any of: ^backend/.*\.py$
  check-service-db-access: any of: ^backend/services/.*\.py$
  check-service-http-exceptions: any of: ^backend/services/.*\.py$
  check-router-db-access: any of: ^backend/routers/.*\.py$
  check-layer-imports: any of: ^backend/(routers|services|repositories)/.*\.py$
  eslint: any of: \.(ts|tsx|js|jsx)$
  check-frontend-api-usage: any of: ^frontend/src/.*\.(ts|tsx)$
  check-frontend-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx)$
